* {
    // variables
    bg-color: #191919;
    fg-color: #FFFFFF;
    shade1: #311B92;
    // defaults
    background-color: var(bg-color);
    text-color: var(fg-color);
}

window {
    background-color: var(bg-color);
    text-color: var(fg-color);
    padding: 2%;
    border: 0;
    margin: 0;
}

element-text selected {
    background-color: var(shade1);
}
