[*.lua]
# optional space/tab
indent_style = space
# if indent_style is space, this is valid
indent_size = 2
# none/single/double
quote_style = double
max_line_length = 80
# keep/remove/remove_table_only/remove_string_only
call_arg_parentheses = remove_table_only
