[user]
    name = chrisrhayden
    email = chrisrhayden@gmail.com

[alias]
    s = status --short
    sv = status
    b = branch
    cb = checkout -b
    c = checkout
    cm = commit -m

[merge]
    tool = vimdiff

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[init]
    defaultBranch = development

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
